<div id="<%= dom_id appointment %>">
  <p>
    <strong>Patient f name:</strong>
    <%= appointment.patient_f_name %>
  </p>

  <p>
    <strong>Patient l name:</strong>
    <%= appointment.patient_l_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= appointment.age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= appointment.sex %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= appointment.weight %>
  </p>

  <p>
    <strong>Pre existing condition:</strong>
    <%= appointment.pre_existing_condition %>
  </p>

  <p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Appointment time:</strong>
    <%= appointment.appointment_time %>
  </p>

</div>
